.nav {
  .nav-item {
    .nav-link {
      color: #050505;
      border-radius: 1.25rem;
      margin: 0 8px;
      transition: all 0.3s ease;
      &.active {
        background-color: $green;
        color: white;
        &:hover {
          background-color: darken($green, 5%);
        }
      }
      &:hover:not(.active) {
        background-color: #e4e6eb;
      }
    }
  }
}
